.metalgear {
  --shadow: transparent;
  position: fixed;
  bottom: var(--cs-bean-offset-bottom, 20px);
  left: var(--cs-bean-offset-left, 20px);
  width: 64px;
  height: 64px;
  background: url("https://i.ibb.co/hxKDVkxn/metal-gear-rex-right.webp"); 
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(-5px 5px var(--shadow));
}

/* Common styling */
.desc {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  text-indent: 1em;

  & li { text-indent: 0; }
}